In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
#Creating a series from Lists:In order to create a series from list, we have to first create a list after that we can create a series from list.
li1 = [1 , 2 , 3 , 4 , 5.6 , 'rajan sah']
print(li1)

[1, 2, 3, 4, 5.6, 'rajan sah']

In [4]:
#Create  a series using Series() function

s1 = pd.Series(li1)
print(s1)

0            1
1            2
2            3
3            4
4          5.6
5    rajan sah
dtype: object

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
#create a series in short

s2 = pd.Series([1,2,3,-4])
print(s2)

0    1
1    2
2    3
3   -4
dtype: int64

In [7]:
#empty series
s3 = pd.Series([])
print(s3)

Series([], dtype: float64)

C:\Users\DELL\AppData\Local\Temp\ipykernel_14512\2856547165.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s3 = pd.Series([])

In [8]:
#Creating a series from array: In order to create a series from array, we have to import a numpy module and have to use array() function.

import numpy as np

data = np.array(['g','e','e','k','s'])
 
s4 = pd.Series(data)
print(s4)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [9]:
s5 = pd.Series([1,2,3,-4] , index=['a' , 'b' , 'c' , 'd'])
print(s5)

a    1
b    2
c    3
d   -4
dtype: int64

In [10]:
s6 = pd.Series([1,2,3,-4] , index=['a' , 'b' , 'c' , 'd'] , dtype = float)
print(s6)

a    1.0
b    2.0
c    3.0
d   -4.0
dtype: float64

In [11]:
s7 = pd.Series([1,2,3,-4] , index=['a' , 'b' , 'c' , 'd'] , name = 'Data_values')
print(s7)

a    1
b    2
c    3
d   -4
Name: Data_values, dtype: int64

In [12]:
s8 = pd.Series(0.5 , index=[1,2,3])
print(s8)

1    0.5
2    0.5
3    0.5
dtype: float64

In [13]:
print(s7)

a    1
b    2
c    3
d   -4
Name: Data_values, dtype: int64

In [14]:
s7[2]

3

In [15]:
print(s4)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [16]:
s4[3]

'k'

In [17]:
s4 + s7

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
a    NaN
b    NaN
c    NaN
d    NaN
dtype: object

In [18]:
s9 = pd.Series([1,2,3,4,5])
s10 = pd.Series([1,2,3,4,5])

print(s9 , "\n\n" , s10)

0    1
1    2
2    3
3    4
4    5
dtype: int64

 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
s9 + s10

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [20]:
max(s9)

5

In [21]:
min(s9)

1